<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>A POC product of TietoEvry</p>
          </ion-col>
          <ion-col>
            <p>Fake Currency Detection</p>
          </ion-col>
          <ion-col>
            <ion-icon name="people-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
  <ion-card-header>
    <ion-card-title>Fake Currency</ion-card-title>
    <ion-card-subtitle>Scan Front/ back of currency</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <webcam
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
    ></webcam>

    <button class="btn btn-success" (click)="triggerSnapshot();">Scan</button>
  </ion-card-content>

  <ion-card-content>
    <div id="loadingResults">Your image is currently being processed...</div>

    <img src="{{ captureImage }}" height="300px" />
  </ion-card-content>
</ion-card>
