<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>A POC product of TietoEvry</p>
          </ion-col>
          <ion-col>
            <p>Fake Currency Detection</p>
          </ion-col>
          <ion-col>
            <ion-icon name="people-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Scan Front/ back of currency</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <webcam
                [trigger]="invokeObservable()"
                (imageCapture)="captureImg($event)"
              ></webcam>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="1"></ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Your clicked image will be shown here...
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img src="{{ captureImage }}" height="50%" width="auto" />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div>
        <ion-button (click)="getSnapshot()">
          Scan Currency
        </ion-button>
        <ion-button  (click)="fetchDetailsForCapturedImage()">
          Process Image
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>
