<!-- Object detection/ no. of objects -->
<!-- <div style="text-align: center">
       
    <h1>POC - Real Time Object Detection and Count</h1>
        <video hidden id="vid" width="900" height="900"></video> 
    <canvas id="canvas"></canvas>
  </div> -->

<app-header></app-header>

<ion-content [fullscreen]="true" style="text-align: center" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <p>
            Fake <br />
            currency
          </p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img alt="Fake Currency" src="..\assets\icon\fake_1.jpg" />
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <p>Currency</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center" (click)="onGoToWebCamPage()">
      <ion-button> Scan Currency </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
