<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homePage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Fake Currency Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanCurrency">
      <ion-icon name="scan-circle-outline"></ion-icon>
      <ion-label>Scan Currency</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanResults">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
